*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    margin: 10px auto;
}
form{
    border-radius: 10px;
    padding-top: 10px;
    background-color: #fff;
    width: 50vw;
    height: 70vh ;
    margin: 70px auto;
}
form input{
    width: 300px;
    display: flex;
    margin: 10px auto;
    padding: 10px;
}
form button{
   margin-left: 170px;
}
#btn{
    background-color:aqua;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    color: black;
    font-size: 17px;
    font-weight: 600;
    border: none;
    line-height: 20px;
}
form label{
    margin-left: 170px;
    color: red  ;

}